@model WebAppOrder.Models.MonAn

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Xóa món này?</h3>
<div>
    <h4>MonAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên món ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonAn)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Thuộc loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)
        </dd>

        <dt>
            Nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.TenNCC)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về trang danh sách sản phẩm", "Index")
        </div>
    }
</div>
